<mat-sidenav-container class="sidenavcontainer">

  <mat-sidenav mode="over" #sidebar>
    <app-sidebar (closeSideNav)="sidebar.close()"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (SideNavigationToggle)="sidebar.toggle()"></app-header>
    <app-navtabs></app-navtabs>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>

<!-- <div style="display: flex; justify-content: center; align-items: center; height: 200px;">
  <router-outlet></router-outlet>
</div> -->
