<div class="home-container">
  <div class="book-now-container">
      <div fxFlex fxLayoutAlign="flex-end">
        <button class="book-now-button" mat-stroked-button color="primary">
          Book now
        </button>
      </div>
  </div>
  <div class="header-container" fxLayout="row" fxLayoutAlign="center center">
    <div>
      <h3 class="mat-subheading-2">
        Luxury Beach Front Resort
      </h3>
    </div>
    <h1 class="mat-headline">
      Troy Beach Resort - Spa
    </h1>
  </div>
</div>
